<section class="text-white">
  <div class="grid grid-cols-1 md:grid-cols-2 h-full bg-[#AC463F]">
    <div class="flex flex-col justify-center p-10 gap-4">
      <h2 class="font-bold text-3xl md:text-5xl">
        Conoce a tu especialista en Playas de Tijuana
      </h2>
      <p class="text-lg">
        Contamos con un médico cirujano especialista en medicina estética,
        antiedad y antienvejecimiento en "Playas de Tijuana".
      </p>
      <p class="text-lg">
        Nuestro especialista ofrece alternativas para resaltar la naturaleza de
        cada paciente, creando un balance entre salud, bienestar y belleza.
      </p>
      <p class="text-lg">
        Aquí encontrarás un enfoque dedicado a cuidar la salud y preservar la
        belleza que ya existe en cada persona.
      </p>
      <p class="text-lg">
        "Permítenos acompañarte en ese pequeño empuje para lograr un balance
        completo entre salud, bienestar y belleza."
      </p>
      <p class="text-lg text-end underline font-semibold">Tu Especialista</p>
    </div>
    <div class="flex flex-col justify-center items-center p-10">
      <figure>
        <img src="/arturo/about.webp" class="rounded-3xl" alt="About Image" />
      </figure>
      <div class="flex gap-6 mt-8">
        <figure class="mt-6 cursor-pointer group">
          <a href="#">
            <img
              alt="Instagram icon"
              class="w-12 h-12 object-contain group-hover:scale-110 transition-transform duration-300"
              src="https://cdn.simpleicons.org/instagram/white"
            />
          </a>
        </figure>
        <figure class="mt-6 cursor-pointer group">
          <a href="#">
            <img
              alt="Facebook icon"
              class="w-12 h-12 object-contain group-hover:scale-110 transition-transform duration-300"
              src="https://cdn.simpleicons.org/facebook/white"
            />
          </a>
        </figure>
      </div>
    </div>
  </div>
</section>
