<section class="relative w-full h-screen overflow-hidden bg-gray-900">
  <video
    class="absolute inset-0 w-full h-full object-cover"
    src="/arturo/Achieve Timeless Beauty with Aesthetic Medicine in the good hands of Doctor Arturo Lopez in Playas de Tijuana.mp4"
    autoplay
    loop
    muted
    playsinline
  >
  </video>
</section>
