<nav
  class="fixed top-8 left-16 z-50 w-fit transition-all duration-300 ease-in-out"
>
  <figure>
    <img
      src="/arturo/logo.png"
      alt="Logo Arturo"
      class="transition-transform w-16 h-16 duration-200 hover:scale-105"
    />
  </figure>
</nav>
