---
import Layout from "@layouts/Layout.astro";
import LogoInstagram from "@components/icons/InstagramFooter.astro";
import LogoTwitter from "@components/icons/TwitterFooter.astro";
import Footer from "@public/LogoAlternative.webp";
import { Image } from "astro:assets";
---

<Layout title="Privacy Policy | Ecommetrica">
  <div class="max-w-4xl mx-auto p-8 bg-white rounded-lg shadow-lg mt-12">
    <div class="mb-6">
      <a
        href="/en/"
        class="text-blue-600 hover:text-blue-800 font-semibold flex items-center"
      >
        &larr; Back to the main page
      </a>
    </div>
    <div class="text-center mb-8">
      <img
        src="/LogoNav.webp"
        alt="Ecommetrica Logo"
        class="mx-auto mb-4 w-32"
      />
      <h1 class="text-3xl font-bold text-gray-900">Privacy Policy</h1>
    </div>
    <div class="text-lg text-gray-700 space-y-6">
      <p>
        At <strong>ecommetrica.com</strong>, accessible from <a
          href="https://ecommetrica.com/"
          target="_blank"
          class="text-blue-600 hover:underline">https://ecommetrica.com/</a
        >, one of our main priorities is the privacy of our visitors. This
        Privacy Policy document contains the types of information that are
        collected and recorded by Ecommetrica and how we use it.
      </p>
      <p>
        If you have additional questions or require more information about our
        Privacy Policy, do not hesitate to contact us.
      </p>
      <p>
        This Privacy Policy applies only to our online activities and is valid
        for visitors to our website with regard to the information they share
        and/or collect on ecommetrica.com. This policy does not apply to any
        information collected offline or via channels other than this website.
      </p>
      <h2 class="text-2xl font-bold text-gray-900">Consent</h2>
      <p>
        By using our website, you consent to our Privacy Policy and agree to its
        terms.
      </p>
      <h2 class="text-2xl font-bold text-gray-900">Information We Collect</h2>
      <p>
        The personal information you are asked to provide, and the reasons why
        you are asked to provide it, will be made clear to you at the point we
        ask you to provide your personal information.
      </p>
      <p>
        If you contact us directly, we may receive additional information about
        you, such as your name, email address, phone number, the contents of the
        message and/or attachments you send us, and any other information you
        choose to provide.
      </p>
      <p>
        When you register for an Account, we may ask for your contact
        information, including items such as name, company name, address, email
        address, and telephone number.
      </p>
      <h2 class="text-2xl font-bold text-gray-900">
        How We Use Your Information
      </h2>
      <p>We use the information we collect in various ways, including:</p>
      <ul class="list-disc list-inside space-y-2">
        <li>Providing, operating, and maintaining our website</li>
        <li>Improving, personalizing, and expanding our website</li>
        <li>Understanding and analyzing how you use our website</li>
        <li>Developing new products, services, features, and functionality</li>
        <li>
          Communicating with you, either directly or through one of our
          partners, including for customer service, to provide you with updates
          and other information relating to the website, and for marketing and
          promotional purposes.
        </li>
        <li>Sending you emails</li>
        <li>Finding and preventing fraud</li>
      </ul>
      <h2 class="text-2xl font-bold text-gray-900">Log Files</h2>
      <p>
        ecommetrica.com follows a standard procedure of using log files. These
        files log visitors when they visit websites. All hosting companies do
        this and it is a part of hosting services' analytics. The information
        collected by log files includes internet protocol (IP) addresses,
        browser type, Internet Service Provider (ISP), date and time stamp,
        referring/exit pages, and possibly the number of clicks. These are not
        linked to any personally identifiable information. The purpose of the
        information is to analyze trends, administer the site, track users'
        movement on the website, and gather demographic information. Our Privacy
        Policy was created with the help of the Privacy Policy Generator and the
        Disclaimer Generator.
      </p>
    </div>
  </div>
  <footer class="bg-[#3C3C3C] p-12 text-white relative overflow-x-hidden">
    <div
      class="flex md:flex-row flex-col md:justify-between md:items-center mb-16"
    >
      <div class="mb-8 md:mb-24">
        <a href="/en">
          <Image src={Footer} alt="Logo" class="w-64" />
        </a>
      </div>
      <div class="flex space-x-4 items-center">
        <h1 class="font-bold">Follow Us</h1>
        <a
          href="https://twitter.com/SrGenial"
          class="text-[#861453] bg-[#D9D9D9] rounded-full px-4 py-4"
          target="_blank"
        >
          <LogoTwitter />
        </a>
        <a
          href="https://www.instagram.com/ecommetrica/"
          class="text-[#861453] bg-[#D9D9D9] rounded-full px-4 py-4"
          target="_blank"
        >
          <LogoInstagram />
        </a>
      </div>
    </div>
    <div class="flex flex-col md:flex-row md:justify-between">
      <div class="mb-8 md:mb-0">
        <h1 class="text-[#D9D9D9]">
          This website was simplified, innovated, and elevated by{" "}
          <a
            href="https://ecommetrica.com/"
            target="_blank"
            class="relative text-white font-bold after:content-[''] after:absolute after:left-0 after:bottom-0 after:w-full after:h-0.5 after:bg-current after:scale-x-0 after:origin-left after:transition-transform after:duration-300 hover:after:scale-x-100"
          >
            Ecommetrica
          </a>{" "}
          &copy; {new Date().getFullYear()}
        </h1>
      </div>
      <div class="md:space-x-2 flex flex-col md:flex-row gap-4">
        <a
          href="/en/terminos"
          class="relative font-bold after:content-[''] after:absolute after:left-0 after:bottom-0 after:w-full after:h-0.5 after:bg-current after:scale-x-0 after:origin-left after:transition-transform after:duration-300 hover:after:scale-x-100 text-[#D9D9D9]"
        >
          Terms and Conditions
        </a>
        <a
          href="/en/soporte"
          class="relative font-bold after:content-[''] after:absolute after:left-0 after:bottom-0 after:w-full after:h-0.5 after:bg-current after:scale-x-0 after:origin-left after:transition-transform after:duration-300 hover:after:scale-x-100 text-[#D9D9D9]"
        >
          Support
        </a>
      </div>
    </div>
  </footer>
</Layout>
