---
import Carrousel from "./Carrousel";

const { team } = Astro.props;
---

<section id="team" transition:animate="fade">
  <section class="py-16">
    <div class="container mx-auto px-4">
      <div class="text-center">
        <h1 class="text-[#861453] font-medium mb-4 text-2xl">¡Hola!</h1>
        <h3 class="text-[#861453] font-bold text-4xl">Conoce al Equipo</h3>
      </div>
    </div>
  </section>
  <Carrousel team={team} client:visible />
</section>
