---
import Layout from "@layouts/Layout.astro";
import { slide } from "astro:transitions";
import Galeria from "@components/condor/gallery/gallery.tsx";
---

<Layout title="TheCondorVision - Contact">
  <main
    class="flex flex-col justify-center items-center md:h-screen"
    transition:animate={slide({ duration: "0.8s" })}
    style="background-image: url('/condor/fondo.png'); background-position: center; background-repeat: no-repeat; background-size: cover;"
  >
    <a
      href="/condor/"
      class="fixed top-4 right-4 w-8 h-8 hover:text-white text-blue-600"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="icon icon-tabler icons-tabler-outline icon-tabler-x"
        ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
          d="M18 6l-12 12"></path><path d="M6 6l12 12"></path></svg
      >
    </a>
    <h1 class="text-[#2D83C3] font-bold text-[26px] text-center py-16">
      Mira la calidad.
    </h1>
    <h2 class="text-[35px] font-normal text-white text-center mb-16">
      Galería Fotográfica
    </h2>
    <Galeria client:visible />
  </main>
</Layout>
