---
import Hero from "@components/arturo/Hero.astro";
import Nav from "@components/arturo/Nav.astro";
import Banner from "@components/arturo/Banner.astro";
import Layout from "@layouts/Layout.astro";
import Booking from "@components/arturo/Booking.astro";
import About from "@components/arturo/About.astro";
import Footer from "@components/arturo/Footer.astro";
---

<Layout title="Arturo - Ecommetrica">
  <main>
    <Nav />
    <Hero />
    <Banner />
    <About />
    <Booking />
    <Footer />
  </main>
</Layout>
