---
import Layout from "@layouts/Layout.astro";
---

<Layout title="Ecommetrica - Innova - Eleva - Simplifica">
  <div
    class="h-screen flex justify-center items-center flex-col text-center bg-gray-100"
  >
    <img src="/LogoNav.webp" alt="Ecommetrica Logo" class="mb-4" />
    <p class="text-lg text-gray-600 mb-8">Próximamente...</p>
    <button
      class="px-4 py-2 text-black border border-[#861453] rounded hover:bg-[#861453] hover:text-white"
      onclick="history.back()"
    >
      <h1>Regresar</h1>
    </button>
  </div>
</Layout>
