---
import { Image } from "astro:assets";
import HeroImage from "@public/AboutImage.webp";
import HeroImage2 from "@public/AboutImage2.webp";
---

<section
  class="md:h-screen flex md:justify-center md:items-start bg-gradient-to-l from-[#BD155C] to-[#1E171E] px-8 relative"
  id="about"
>
  <div class="grid grid-cols-1 md:grid-cols-3 px-8 gap-16 md:mt-24">
    <div class="flex justify-center items-start">
      <Image
        src={HeroImage}
        alt="About Image"
        title="About Image"
        class="object-cover relative z-10 rounded-xl hidden xl:block"
      />
      <div
        class="border-r-8 border-t-8 border-b-8 absolute left-[-100px] w-[300px] h-48 animate-slideX z-10 hidden xl:block"
      >
      </div>
      <div class="bg-white h-64 w-64 absolute animate-slideY hidden xl:block">
      </div>
    </div>
    <div class="text-white col-span-2">
      <h1 class="text-xl md:text-2xl font-bold mb-4">
        Consultoria en E-commerce
      </h1>
      <h2 class="font-bold text-3xl md:text-6xl">Bienvenidos</h2>
      <h3 class="font-bold text-3xl md:text-6xl text-[#c2155C] mb-8">
        a Ecommetrica
      </h3>
      <p class="text-3xl text-[#c2155C] font-bold mb-8">
        Visitanos, Tijuana y San Diego
      </p>
      <p class="md:w-[60%] text-xl font-light mb-4">
        Somos una consultoria que garantiza una planeacion estategica y segura
        con soluciones a la medida para tu negocio y comercio en linea <br />
        <br /> Creamos tu página web confiable, segura e innovadora y ademas desarrollamos
        tu ecosistema de marketing digital. <br />
        <br /> No te pierdas de nada del INTERNET y descarga nuestra guía básica.
      </p>
      <button
        class="bg-white hover:bg-transparent hover:border-white hover:border hover:text-white text-black px-6 rounded-lg py-2 font-bold flex gap-2 items-center
       transition duration-300 ease-in-out mb-16"
        id="test"
      >
        Guia de e-commerce
        <svg
          width="19"
          height="25"
          viewBox="0 0 19 25"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M10.3438 7.4375V15.209L13.7188 11.834L14.9121 13.0273L9.5 18.4395L4.08787 13.0273L5.28125 11.834L8.65625 15.209V7.4375H0.851562C0.68373 7.4375 0.522772 7.50417 0.404096 7.62285C0.285421 7.74152 0.21875 7.90248 0.21875 8.07031V23.6797C0.21875 23.8475 0.285421 24.0085 0.404096 24.1272C0.522772 24.2458 0.68373 24.3125 0.851562 24.3125H18.1484C18.3163 24.3125 18.4772 24.2458 18.5959 24.1272C18.7146 24.0085 18.7812 23.8475 18.7812 23.6797V8.07031C18.7812 7.90248 18.7146 7.74152 18.5959 7.62285C18.4772 7.50417 18.3163 7.4375 18.1484 7.4375H10.3438ZM8.65625 0.6875H10.3438V7.4375H8.65625V0.6875Z"
            fill="black"></path>
        </svg>
      </button>
    </div>
  </div>
  <div class="absolute bottom-[-20px] right-20 z-10 hidden xl:block">
    <Image
      src={HeroImage2}
      alt="About Image"
      title="About Image"
      class="object-cover"
    />
  </div>
  <div
    class="hidden xl:block bottom-10 right-[-300px] absolute bg-white w-[604px] h-[404px] animete-slide-X"
  >
  </div>
</section>

<style>
  @keyframes slideX {
    0% {
      transform: translateX(-50%) translateY(-50px);
    }
    50% {
      transform: translateX(20%) translateY(-50px);
    }
    100% {
      transform: translateX(-50%) translateY(-50px);
    }
  }

  @keyframes slideY {
    0% {
      transform: translateY(0) translateX(-100px);
    }
    50% {
      transform: translateY(100%) translateX(-100px);
    }
    100% {
      transform: translateY(0) translateX(-100px);
    }
  }

  @keyframes slide-X {
    0% {
      transform: translateX(0) translateY(0);
    }
    50% {
      transform: translateX(50%) translateY(0);
    }
    100% {
      transform: translateX(0) translateY(0);
    }
  }

  .animate-slideX {
    animation: slideX 5s ease-in-out infinite;
  }

  .animate-slideY {
    animation: slideY 5s ease-in-out infinite;
  }

  .animete-slide-X {
    animation: slide-X 5s ease-in-out infinite;
  }
</style>
