---
import { Image } from "astro:assets";
import HeroImage from "@public/1. Foto Team 1.webp";
import HeroImage2 from "@public/2. Foto Team 2.webp";
import Guia from "@components/Guia";
import { getLangFromUrl, useTranslations } from "src/i18n/utils";

const URL = Astro.url;
const lang = getLangFromUrl(URL);
const t = useTranslations(lang);
---

<section
  class="flex md:justify-center md:items-start bg-gradient-to-l from-[#BD155C] to-[#1E171E] px-8 relative"
  id="about"
>
  <div class="grid grid-cols-1 md:grid-cols-3 px-8 gap-16 md:mt-24 md:mb-24">
    <div class="flex justify-center items-start">
      <Image
        src={HeroImage}
        alt="About Image"
        title="About Image"
        class="object-cover relative z-10 rounded-xl hidden xl:block"
      />
      <div
        class="border-r-8 border-t-8 border-b-8 absolute left-[-100px] w-[300px] top-16 h-48 slideX z-10 hidden xl:block"
      >
      </div>
      <div
        class="bg-white h-64 w-64 absolute left-32 top-[150px] slideY hidden xl:block"
      >
      </div>
    </div>
    <div class="text-white col-span-2">
      <h1 class="text-xl md:text-2xl font-bold mb-4">
        {t("about.title1")}
      </h1>
      <h2 class="font-bold text-3xl md:text-6xl">
        {t("about.title2")}
      </h2>
      <h3 class="font-bold text-3xl md:text-6xl text-[#c2155C] mb-8">
        {t("about.title3")}
      </h3>
      <p class="text-3xl text-[#c2155C] font-bold mb-8">
        {t("about.subtitle")}
      </p>
      <p
        class="md:w-[60%] text-xl font-light mb-12"
        set:html={t("about.description")}
      />
      <Guia URL={URL} client:visible />
    </div>
  </div>
  <div class="absolute bottom-[-60px] right-20 z-10 hidden xl:block">
    <Image
      src={HeroImage2}
      alt="About Image"
      title="About Image"
      class="object-cover"
    />
  </div>
  <div
    class="hidden xl:block bottom-10 right-[-300px] absolute bg-white w-[604px] h-[404px] slide-X"
  >
  </div>
</section>

<style>
  .slideX,
  .slideY,
  .slide-X {
    transition: transform 0.5s ease-in-out;
  }
</style>

<script>
  window.addEventListener("scroll", () => {
    const scrollPercentage =
      window.scrollY /
      (document.documentElement.scrollHeight - window.innerHeight);

    const slideXElements = document.querySelectorAll(".slideX");
    slideXElements.forEach((el) => {
      (el as HTMLElement).style.transform =
        `translateX(${scrollPercentage * 150}%) translateY(0)`;
    });

    const slideYElements = document.querySelectorAll(".slideY");
    slideYElements.forEach((el) => {
      (el as HTMLElement).style.transform =
        `translateY(${scrollPercentage * 150}%) translateY(0)`;
    });

    const slideXElementsAlt = document.querySelectorAll(".slide-X");
    slideXElementsAlt.forEach((el) => {
      (el as HTMLElement).style.transform =
        `translateX(${scrollPercentage * 150}%) translateY(0)`;
    });
  });
</script>
