---
import Percentage from "@components/Percentage.jsx";
import { getLangFromUrl, useTranslations } from "src/i18n/utils";

const URL = Astro.url;
const lang = getLangFromUrl(URL);
const t = useTranslations(lang);
---

<section
  class="py-32 flex justify-center items-center bg-white px-8"
  id="skills"
>
  <div class="grid grid-cols-1 md:grid-cols-2 px-8 gap-8">
    <div>
      <h1 class="text-[#3C3C3C] text-4xl md:text-2xl font-bold mb-8">
        {t("skills.title1")}
      </h1>
      <h2
        class="md:w-[80%] text-2xl md:text-6xl text-[#515151] mb-16 font-bold"
      >
        {t("skills.title2")}
      </h2>
      <p class="md:w-[70%] mb-16">
        {t("skills.description1")}
      </p>
      <p class="md:w-[70%]">
        {t("skills.description2")}
      </p>
    </div>
    <Percentage client:load URL={URL} />
  </div>
</section>

<style>
  .skill-bar {
    transition: width 1s linear;
  }
</style>
